<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Pedido2</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon"  type="image/png" sizes="32x32" href="/images/favicon-32x32.png" >
    <link rel="icon"  type="image/png" sizes="16x16" href="/images/favicon-16x16.png" >
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="stylesheet" href="/css/detalhes.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/images/logo.png" alt="Imagem KidsZone">
            <div class="date"></div>
             <!-- Feedback -->
         <div id="feedback" style="display: none; text-align: center; font-weight: bold; margin: 10px; color: red;"></div>
        </div>

        <div class="section">

            <div class="section-title">DADOS DO CLIENTE</div>

            <form class="form-group">
                <label for="cnpj">CNPJ:</label> 
                <input type="text" id="cnpj" placeholder="Digite o CNPJ" maxlength="14">

                <label for="representante" class="label-espaco-esquerda">CÓDIGO REP:</label> 
                <input type="text" id="representante" placeholder="Representante" readonly>

                <label class="IE" for="ie">INSCRIÇÃO ESTADO:</label> 
                <input type="text" id="ie" placeholder="Inscrição Estadual" readonly>

                <label class="label-espaco-esquerda" for="tipo_pedido">TIPO PEDIDO:</label>
                <select id="tipo_pedido">
                    <option value="Venda">Venda</option>
                    <option value="Promoção">Promoção</option>
                    <option value="Bonificação">Bonificação</option>
                </select>

                <label for="razao_social" >RAZÃO SOCIAL:</label> 
                <input type="text" id="razao_social" placeholder="Razão Social" readonly>

                <label for="cod_cliente" class="label-espaco-esquerda">CÓD CLIENTE:</label> 
                <input type="text" id="cod_cliente" placeholder="Código Cliente" readonly>

                <label for="endereco">ENDEREÇO:</label> 
                <input type="text" id="endereco" placeholder="Endereço"readonly>

                <label for="bairro" class="label-espaco-esquerda">BAIRRO:</label> 
                <input type="text" id="bairro" placeholder="Bairro" readonly>

                <label for="cidade">CIDADE:</label> 
                <input type="text" id="cidade" placeholder="Cidade"readonly>

                <label for="uf" class="label-espaco-esquerda">UF:</label> 
                <input type="text" id="uf" placeholder="UF" maxlength="2" readonly>

                <label for="cep">CEP:</label> 
                <input type="text" id="cep" placeholder="CEP" readonly>

                <label for="telefone" class="label-espaco-esquerda">TELEFONE:</label> 
                <input type="text" id="telefone" placeholder="Telefone"readonly>

                <label for="email">E-MAIL:</label> 
                <input type="text" id="email" placeholder="E-mail" readonly>

                <label for="email_fiscal" class="label-espaco-esquerda">E-MAIL FISCAL:</label> 
                <input type="text" id="email_fiscal" placeholder="E-mail Fiscal" readonly>

                <label for="pay">CONDIÇÃO PGTO:</label> 
                <input type="text" id="pay" placeholder=" Condição de pagamento" readonly>

                <label for="transp" class="label-espaco-esquerda" >TRANSPORTE:</label> 
                <input type="text" id="transp" placeholder="Transportadora" readonly>

                <label class="spaceInputCod" class="label-espaco-esquerda" for="codgroup">CÓDIGO TABELA:</label> 
                <input type="text" id="codgroup" placeholder="Código Tabela" readonly>

                <label class="label-espaco-esquerda" for="group">TABELA:</label> 
                <input type="text" id="group" placeholder="Descrição Grupo" readonly>
            </form>
        </div>

        <div class="section">
            <div class="section-title">DADOS DO PEDIDO</div>
            <div class="table-container">
                <table id="dadosPedido" class="table">
                    <thead>
                        <tr>
                            <th>CÓD</th>
                            <th>QTD</th>
                            <th>UV</th>
                            <th>PACK</th>
                            <th>DESCRIÇÃO</th>
                            <th>IPI</th>
                            <th>R$ UNIT.</th>
                            <th>R$ C/ IPI</th>
                            <th>TOTAL R$</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Linhas serão adicionadas dinamicamente -->
                    </tbody>
                </table>
            </div>
        </div>

        <div class="payment-conditions">
            <label for="volume">VOLUMES:</label>
            <input type="text" id="volume" readonly>

            <label for="total">TOTAL PRODUTOS:</label>
            <input type="text" id="total" readonly>

            <label for="total_imp">TOTAL C/IMP:</label>
            <input type="text" id="total_imp" readonly>
        </div>

        <div class="observations">
            <div class="obs-title">OBSERVAÇÕES</div>
            <textarea id="observacoes" readonly></textarea>
        </div>
    </div>

    <script>

            // Mostrar Feedback
            function showFeedback(message) {
                const feedback = document.getElementById('feedback');
                feedback.style.display = 'block';
                feedback.textContent = message;
           }

        // Ocultar Feedback
        function hideFeedback() {
            const feedback = document.getElementById('feedback');
            feedback.style.display = 'none';
            feedback.textContent = '';
        }


        // Função para obter o pedidoId e o status da URL
        function getParamsFromURL() {
            const params = new URLSearchParams(window.location.search);
            return {
                pedidoId: params.get('pedidoId'),
                status: params.get('status') || 6 // Valor padrão para status
            };
        }
        // Carregar detalhes do pedido
        async function loadPedidoDetails() {
           
            showFeedback("Carregando pedido, aguarde...");

            const { pedidoId, status } = getParamsFromURL(); // Agora captura pedidoId e status
            if (!pedidoId) {
                alert('ID do pedido não encontrado na URL!');
                return;
            }

            try {
                console.log(`Carregando detalhes do pedido com ID: ${pedidoId} e Status: ${status}`);
                
                const response = await fetch(`/api/pedidos/${pedidoId}?status=${status}`);
                if (!response.ok) throw new Error('Erro ao buscar detalhes do pedido');

                const pedido = await response.json();
                hideFeedback();

                // Preencher campos com os dados do pedido
                document.getElementById('cnpj').value = pedido.cliente?.documento?.numeroTexto || '';
                document.getElementById('representante').value = pedido.representante?.nomeAbreviado || '';
                document.getElementById('razao_social').value = pedido.cliente?.nomeAbreviado || '';
                document.getElementById('cod_cliente').value = pedido.cliente?.codigo || '';
                document.getElementById('endereco').value = pedido.cliente?.endereco.logradouro || '';
                document.getElementById('bairro').value = pedido.cliente?.bairro || '';
                document.getElementById('cidade').value = pedido.detalhes.cliente.endereco.cidade.nome || '';
                document.getElementById('uf').value = pedido.cliente?.uf || '';
                document.getElementById('cep').value = pedido.cliente?.cep || '';
                document.getElementById('volume').value = pedido.volumes || '';

                document.getElementById('total').value = pedido.detalhes.financeiro.item.valorTotal
                 ? pedido.detalhes.financeiro.item.valorTotal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })
                  : '';

                document.getElementById('total_imp').value = pedido.detalhes.financeiro.item.valorFinanceiro
                 ? pedido.detalhes.financeiro.item.valorFinanceiro.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })
                  : '';  

                document.getElementById('observacoes').value = pedido.detalhes.cliente.observacao || '';
                document.getElementById('pay').value = pedido.detalhes.condicaoPagamento.descricao || '';
                document.getElementById('codgroup').value = pedido.detalhes.listaPreco.id || '';
                document.getElementById('group').value = pedido.detalhes.listaPreco.descricao || '';
                document.getElementById('transp').value = pedido.detalhes_transporte.nomeAbreviado || '';

                // Preencher tabela de itens do pedido
                const tbody = document.getElementById('dadosPedido').querySelector('tbody');
                tbody.innerHTML = ''; // Limpar tabela

                // Certifique-se de acessar os itens dentro de 'detalhes'
                const detalheItens = pedido.detalhes?.itens || [];

                detalheItens.forEach(item => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${item.itemEmpresaId || ''}</td>
                        <td>${item.quantidade || ''}</td>
                        <td>${item.unidadeMedidaAbreviado || ''}</td>
                        <td>${item.pack || ''}</td>
                        <td>${item.descricao || ''}</td>
                        <td>${item.tributos?.ipi?.aliquota 
                          ? item.tributos.ipi.aliquota.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + '%' 
                          : ''}</td>
                        <td>${item.financeiro.valorUnitarioFinal 
                          ? item.financeiro.valorUnitarioFinal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) 
                          : ''}</td>
                        <td>${item.valorComIpi || ''}</td>
                        <td>${item.financeiro.valorTotalFinal 
                          ? item.financeiro.valorTotalFinal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) 
                          : ''}</td>
                    `;
                    tbody.appendChild(row);
                });
            } catch (error) {
                console.error('Erro ao carregar os detalhes do pedido:', error);
                showFeedback("Erro ao carregar dados. Recarregue a página e tente novamente.");
            }
        }

        // Executar ao carregar a página
        loadPedidoDetails();

    </script>
</body>
</html>
